/* This is the CSS code for your cards */
.card {
  width: 400px;
  height: 400px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.card .img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);
  object-fit: cover;
  object-position: center center;
  user-select: none;
}

.card .content {
  width: -webkit-fill-available;
  position: absolute;
  bottom: -20px;
  z-index: 10;
  color: #FFF;
  padding: 0 0 35px 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);
}

.card .content h4 {
  font-size: 28px;
  margin: 0 0 7px 0;
}

.card .content span {
  font-size: 14px;
  font-weight: 500;
}

.card .cover {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s cubic-bezier(.3, 0, 0, 1.3);
  user-select: none;
}

.card .shadow {
  width: 270px;
  height: 100px;
  position: absolute;
  background-color: #352720;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: -10;
  filter: blur(55px);
  border-radius: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s cubic-bezier(.3, 0, 0, 1.3);
  user-select: none;
}

.card:hover .img {
  transform: scale(1.1);
}

.card:hover .content {
  visibility: visible;
  opacity: 1;
  bottom: -10px;
  transform: scale(1.1);
}

.card:hover .cover {
  visibility: visible;
  opacity: 1;
  bottom: -10px;
  transform: scale(1.1);
}

.card:hover .shadow {
  width: 290px;
  visibility: visible;
  opacity: 1;
  bottom: -20px;
  transform: scale(1.1) translate(-45%);
}

.card:active .img {
  transform: scale(0.9);
}

.card:active .content {
  opacity: 0;
  transform: scale(0.9);
}

.card:active .cover {
  opacity: 0.3;
  bottom: 10px;
  transform: scale(0.9);
}

.card:active .shadow {
  opacity: 0.3;
  bottom: -20px;
  transform: scale(0.9) translate(-45%);
}

.first {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 5px 6px 10px rgba(138, 137, 137, 0.733);
  padding: 10px 10px;
  text-align: center;


}

.first>img {
  max-width: 100%;
  height: auto;
}

.main {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(400px, 5fr));
  grid-gap: 30px;
  margin-top: -150px;
  padding: 50px 50px;
  padding-left: 50px;
  /* background-color: red; */
  overflow-x: hidden;
}

.first>h1 {
  font-size: 15px;
}

.nav {
  background-color: rgba(238, 219, 219, 0.077);
}

